@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>まちづくりデザインプロジェクト</h1>
    <p class="lead">あたなの街を自分で変える！未来の一歩はあなたが作る。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>自治体登録</h2>
        <p>
            あたなの街を登録しましょう。
        </p>
        <p><a class="btn btn-default" href="~/Jichitai/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>グループ登録</h2>
        <p>
            コミュニティ、団体、グループを登録しましょう。
        </p>
        <p><a class="btn btn-default" href="~/Groups/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>イベント登録</h2>
        <p>
            開催するイベントを登録しましょう。
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>